@model Shoop.Web.Data.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt>
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <p>Current image</p>
                <img src="@Url.Content(Model.ImageUrl)" alt="@Model.Name" title="@Model.Name" style="width: 300px; height: 450px; max-width: 100%; height: auto;" />
            }
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastPurchase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastSale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastSale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAvaliable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAvaliable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm">Edit</a>
    <a asp-action="Index" class="btn btn-default btn-sm">Back to Products</a>
</div>
